<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Mina Amir -eCommernce Project">
        <meta name="author" content="Mina Amir">
        <title>Store</title>

        <!-- FontAwesome -->
        <link href="templates/assets/css/font-awesome.min.css" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="templates/assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Style -->
        <link href="templates/assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="index.php"><img src="assets/images/logo-dark.png" class="img-responsive" alt=""></a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.php">Home <span class="sr-only">(current)</span></a></li>
                                    <li><a href="products.php">Products</a></li>
                                    <li class="active"><a href="guestbook.php">Guest Book</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-header">
                            <h1>Guest Book</h1>
                        </div>

                        <div class="row guestbook">
                            <?php if(strlen($msg_error)>0) { ?>
                            <div class="alert alert-danger">
                                <p><?php echo $msg_error; ?></p>
                            </div>
                            <?php } ?>
                            <?php if($msg_success==1){?>
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                    <p>Message added successfully...</p>
                                </div>
                                <?php } ?>
                                <?php foreach($msgs as $msg){
                                 $title=$msg['title'];
                                 $content=$msg['content'];
                                 $name=$msg['name'];
                                ?>
                                <div class="panel panel-default panel-guestbook">
                                    <div class="panel-heading">
                                        <div class="guestbook__title"><?php echo $msg['title'];?></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="guestbook__text"><?php echo $msg['content']; ?></div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="guestbook__writer"><strong>Added By: </strong><?php echo $msg['name']; ?> </div>
                                    </div>
                                </div>
                                <?php } ?>
                            </div>
                            <div class="col-md-12">
                                <br /><br />
                            </div>
                            <div class="col-md-12">
                                <div class="section-header">
                                    <h1>Add new message</h1>
                                </div>
                                <form class="form-horizontal" method="post" action="guestbook.php">
                                    <div class="form-group">
                                        <label for="title" class="col-sm-3 control-label">Message Title</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="title" class="form-control" id="title" placeholder="Message Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="content" class="col-sm-3 control-label">Message Content</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control"name="content" rows="6" id="content" placeholder="Message Content"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Your Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Your Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="email" class="form-control" id="email" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-comments"></i> Add Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="copyrights">
                                <span>Coded by </span><a href="">Mina Amir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="templates/assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="templates/assets/js/bootstrap.min.js"></script>
    </body>
</html>